body
{
	background-color: gray;
	font-family: 'Apolonia', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

#sidebar
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
}

#content
{
	float: left;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.option
{
	font-size:18px;
	height:25px;
	min-width: 120px;
	padding: 10px;
}

.option:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.note
{
	font-size:18px;
	height:25px;
	padding: 10px;
	background-color: lightgray;
}

.note:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;	
}

a
{ 
	color: gray;
	text-decoration: none;
}
